@font-face {
  font-family: 'GmarketSans';
  src: url('/TeamProject/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/TeamProject/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/TeamProject/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 400;
}
@font-face{
  font-family: 'Multicolore';
  src: url('/TeamProject/fonts/Multicolore\ Pro.otf') format('opentype');
}
@font-face{
  font-family: 'DMSerif';
  src:url('/TeamProject/fonts/DMSerifDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
}
@font-face{
  font-family: 'DMSerif';
  src:url('/TeamProject/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face{
  font-family: 'Jalnan';
  src:url('/TeamProject/fonts/Jalnan2TTF.ttf') format('truetype');
}